<html>
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h2>Registration Page</h2><br>
    <div class="login">

        <label><b>FirstName
        </b>
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="Enter your FirstName">
        <br><br>
        
        <label><b>LastName
        </b>
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="Enter your LastName">
        <br><br>
        <label><b>Username
        </b>
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="Enter your Username">
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input type="Password" name="Pass" id="Pass" placeholder="Enter your Password">
        <br><br>
        <input type="button" name="log" id="log" value="Register">
        <br><br>
</div>
</body>
</html>